#en::before, #es::before, #fr::before, #it::before, #pt::before, #sv::before {
    content: "";
    display: block; 
    width: 30px;
    height: 20px;
    background-size: contain; 
    background-repeat: no-repeat;
}

#en::after, #es::after, #fr::after, #it::after, #pt::after, #sv::after {
    content: url("icones/refr.svg");
    margin-left: 3px;
}

#en::before {
    background-image: url("icones/flags/us.svg");
}

#es::before {
    background-image: url("icones/flags/es.svg");
}

#fr::before {
    background-image: url("icones/flags/fr.svg");
}

#it::before {
    background-image: url("icones/flags/it.svg");
}

#pt::before {
    background-image: url("icones/flags/br.svg");
}

#sv::before {
    background-image: url("icones/flags/se.svg");
}

#muteButton::after {
    content: url("icones/mute.svg");
    margin-left: 3px;
}

#fullscreenButton {
    cursor: url("icones/cursorPointer.png"), auto;
}

#borderOn::after {
    content: url("icones/border.svg");
}

#printButton::after {
    content: url("icones/print.svg");
}

#lowerCase::after {
    content: url("icones/lowerCase.svg");
}

#savePNG::after {
    content: url("icones/share.svg");
}

#fontList summary::before {
    content: url("icones/settings.svg");
}

#fontList[open] summary::before {
    content: url("icones/close.svg");
    position: absolute;
    right: 1%;
    top: 0;
}

#resetFontSize::after {
    content: url("icones/refresh.svg");
}

#wordsLi summary::after {
    content: url("icones/expand.svg");
    display: inline-block;
    opacity: 50%;
}

#wordsLi details[open] summary::after {
    content: url("icones/close.svg");
    opacity: 100%;
}

#closeRate::after {
    content: url("icones/close.svg");
}